/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    /* --background-gradient: linear-gradient(135deg, #080808 0%, #0a0f0d 100%);
    --primary-color: #ECBA82;
    --title-color: #eee;
    --secondary-color: #183937;
    --secondary-color: #0C3A37;
    --accent-color: #FBAF29;
    --hover-color: #ff7b00; */
    --background-gradient: linear-gradient(#fff 0%, #fff 100%);
    --primary-color: #ECBA82;
    --title-color: #101010;
    --secondary-color: #183937;
    --secondary-color: #0C3A37;
    --accent-color: #FBAF29;
    --hover-color: #ff7b00;
    --contact-color: #0d1f1a;
    --font-family: 'Poppins', sans-serif;
    --text-family: 'Inter', sans-serif;
}

/* Body */
body {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 300;
    font-optical-sizing: auto;
    font-style: normal;
    background: var(--background-gradient);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    font-family: var(--font-family);
}

p, li, details, figcaption {
    font-family: var(--text-family);
    line-height: 1.5;
    text-wrap: pretty;
    max-width: 65ch;
}

/* Headings */
h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.4rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 20px;
    text-align: left;
}

h3 {
    font-size: 1.2rem;
}

/* Links */
a {
    text-decoration: none;
    color: var(--accent-color);
}

/* Navbar */
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
    border-bottom: 2px solid var(--accent-color);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 10px 20px;
}

.navbar-logo {
    margin-top: 10px;
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 700;
    z-index: 1001;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-menu li {
    display: inline;
}

.navbar-menu a {
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navbar-menu a:hover,
.navbar-menu a.active {
    color: #eee;
    border-bottom: 2px solid #eee;
}

.navbar-toggle {
    display: none;
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}

@media (max-width: 1150px) {
  .navbar .container {
    justify-content: space-between;
    margin: 10px 0 0 0;
    padding-left: 0;
    padding-right: 0;
}

.navbar-menu {
    flex-direction: column;
    align-items: start;
    gap: 20px;
    width: 130px;
    display: none;
    position: absolute;
    top: 90px;
    right: 5px;
    background-color: var(--secondary-color);
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--accent-color);
}

.navbar-menu.active {
    display: flex;
    align-items: left;
}

.navbar-toggle {
    display: block;
}

.navbar-menu a {
    padding: 10px 0;
    width: 100%;
}

.navbar-sub-menu{
    right: 20px;
    width: 120px;
}
}

@media (max-width: 768px) {
    .navbar .container {
        justify-content: space-between;
        margin: 10px 0 0 0;
    }

    .navbar-menu {
        gap: 10px;
        width: 110px;
        padding: 15px;
        top: 90px;
    }
    .navbar-toggle {
        display: block;
    }

    .navbar-menu a {
        font-size: 0.9rem;
    }
}

.navbar-sub-menu{
    width: 150px;
    display: none;
    position: absolute;
    background-color: var(--secondary-color);
    padding: 0 1rem 0 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--accent-color);
}

.navbar-sub-menu ul {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding: 10px 0 10px 0;
}

.navbar-menu li:hover .navbar-sub-menu {
    display: block;
}

.navbar-sub-menu:hover {
    display: block;
}

/* Hero */
.new-hero {
    width: 100%;
    height: 100vh;
    padding: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-image: url(media/bg_cancun4.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.1);
}

.hero-content {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
    color: #eee;
    padding: 20px;
    border-radius: 12px;
}

.hero-content h1 {
    font-size: 3.5rem;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

.hero-content p {
    font-size: 1.4rem;
    margin-bottom: 30px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.hero-content a {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: var(--accent-color);
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.hero-content a:hover {
    background-color: var(--hover-color);
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
    .new-hero {
        padding: 20px;
    }

    .hero-content {
        bottom: 0;
        padding: 10px;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .hero-content a {
        padding: 10px 20px;
        font-size: 1rem;
    }
}
/* About Us */

.about-us-section {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.about-us-content {
    padding: 20px;
    text-align: left;
}

.about-us-content h2 {
    margin-top: 0px;
}

.about-us-content p {
    font-size: 1.2rem;
    margin: 1rem 0;
    color: #333;
}

.about-video {
    padding: 20px 0;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

@media (max-width: 900px) {
    .about-us-section {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .about-us-content {
        padding-bottom: 0;
    }

    .about-us-content p {
        font-size: 1rem;
    }

    .about-video {
        padding-top: 0;
        order: 2;
    }
}

.nav-logo {
    width: 150px;
    object-fit: cover;
}

.container {
    background-color: var(--secondary-color);
    border-radius: 12px;
    padding: 0 20px 20px 20px;
    text-align: center;
}

.no-container {
    max-width: 1200px;
    width: 90%;
    padding: 20px;
    text-align: center;
}

.section-title {
    color: var(--title-color);
    margin: 20px 0 0 0;
}

.profile-section {
    padding-bottom: 20px;
    border-bottom: 2px solid var(--accent-color);
}

.profile-section img {
    margin-top: 20px;
    width: 600px;
    max-width: 80%;
    object-fit: cover;
}

.profile-section h1 {
    margin: 0 0 5px;
    color: #eee;
}

.social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px 0 0 0;
}

.social-icons i {
    font-size: 2.5rem;
    color: var(--accent-color);
    transition: all 0.3s ease;
    cursor: pointer;
}

.social-icons i:hover {
    color: var(--hover-color);
} 

/* Swiper */

.swiper {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.swiper-wrapper {
    width: 30px;
}

.swiper-slide {
    text-align: center;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem;
}

.swiper-pagination-bullet {
  background: #fff;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

/* Carousel */
.carousel-container {
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 20px;
}

.no-border-no-padding-bottom {
    border-bottom: 0;
    padding-bottom: 0;
}

.carousel-container .section-title {
    margin: 20px 0 10px 0;
}

.carousel-wrapper {
    width: 100%;
    /* padding-bottom: 20px;
    border-bottom: 2px solid var(--accent-color); */
    position: relative;
}

.carousel-wrapper i {
    font-size: 2rem;
    color: var(--secondary-color);
    height: 50px;
    width: 50px;
    background-color: #eee;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s ease;
}

.carousel-wrapper i:first-child {
    left: -25px;
}

.carousel-wrapper i:last-child {
    right: -25px;
}

.carousel-wrapper i:first-child:hover {
    color: #0d1f1a;
    left: -30px;
}

.carousel-wrapper i:last-child:hover {
    color: #0d1f1a;
    right: -30px;
}

.carousel,
.rentals-carousel,
.restaurants-carousel,
.tours-carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 2.5) - 20px);
    gap: 20px;
    border-radius: 12px;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
    padding-bottom: 10px;
}

.restaurants-carousel {
    padding-bottom: 20px;
}

.carousel.dragging,
.rentals-carousel.dragging,
.restaurants-carousel.dragging,
.tours-carousel.dragging {
    scroll-snap-type: none;
    cursor: grabbing;
    scroll-behavior: auto;
    user-select: none;
}

.carousel-card,
.rentals-carousel-card,
.restaurants-carousel-card,
.tours-carousel-card {
    list-style: none;
    border-radius: 12px;
    padding: 20px;
    text-align: left;
    flex: 0 0 auto;
    cursor: pointer;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.carousel-card {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.rentals-carousel-card,
.restaurants-carousel-card,
.tours-carousel-card {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.carousel-card img,
.rentals-carousel-card img,
.restaurants-carousel-card img,
.tours-carousel-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.carousel-card h3,
.rentals-carousel-card h3,
.restaurants-carousel-card h3,
.tours-carousel-card h3 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.card-content p {
    margin-bottom: 0.4rem;
    font-size: 1.1rem;
    font-weight: 400;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.small-button {
    display: inline-block;
    text-decoration: none;
    color: var(--accent-color);
    background-color: var(--secondary-color);
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 600;
    transition: all 0.3s ease;
    user-select: none;
    align-self: flex-start;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.small-button:hover {
    background-color: #0d1f1a;
    transform: scale(1.06);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dark-button {
    background-color: #0d1f1a;
}

.dark-button:hover {
    background-color: #0a0f0d;
}

.border-bottom {
    border-bottom: 2px solid var(--accent-color);
}

/* Services Sections */
.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px 0 20px 0;
    border-bottom: 2px solid var(--accent-color);
}

.service {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 12px;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.service img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service h3 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Drivers */
.driver {
    padding: 10px 0 0 0;
    display: flex;
    gap: 20px;
}

.driver-container {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    width: 100%;
}

.driver-card {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 12px;
    padding: 20px;
    text-align: left;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.driver-card img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.driver-card h3 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.driver-card a:hover {
    background-color: #0d1f1a;
}

/* Contact */
.contact-section {
    width: 100%;
    padding: 0 0 50px 0;
    text-align: left;
}

.contact-section .section-title {
    color: var(--secondary-color);
    margin-bottom: 10px;
}

.contact-section p {
    color: var(--contact-color);
    margin-bottom: 20px;
}

.contact-columns {
    display: flex;
    gap: 20px;
    width: 100%;
}

.contact-info-column {
    flex: 1;
}

.social-icons-column {
    flex: 0 0 20%;
    padding-bottom: 10px;
}

.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-info li {
    color: var(--contact-color);
    font-size: 1rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-info i {
    font-size: 1.5rem;
    color: var(--secondary-color);
    align-self: flex-start;
}

.social-icons-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.social-icons-column .social-icons {
    padding: 0;
    margin: 0;
}

.social-icons-column .social-icons i {
    font-size: 2rem;
}

/* Footer */
.footer {
    background: var(--secondary-color);
    color: #eee;
    padding: 20px 0;
    text-align: center;
    border-top: 2px solid var(--primary-color);
    width: 100%;
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
}

.footer .footer-content {
    width: 90%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.footer .footer-content p {
    margin: 0;
}

.footer .footer-content .footer-accent {
    color: var(--primary-color);
}

.footer .footer-content a {
    color: var(--primary-color);
    text-decoration: none;
    transition: all 0.3s ease;
}

.footer .footer-content a:hover {
    color: var(--hover-color);
}

/* Whatsapp Floating Button */

.float-button {
    position: fixed;
    transform: translate(108px, 0px);
    bottom: 4%;
    right: 0;
    width: 160px;
    padding: 5px 0;
    padding-left: 4px;
    overflow: hidden;
    background-color: #25d366;
    color: #fff;
    border-radius: 40px 0 0 40px;
    z-index: 10;
    transition: all 0.5s ease-in-out;
    vertical-align: middle;
  }
  
  .float-button:hover {
    transform: translate(0px, 0px);
  }
  
  .float-button span {
    color: white;
    font-size: 13px;
    position: absolute;
    line-height: 16px;
    font-weight: bolder;
  }
  
  .float-button i {
    font-size: 30px;
    color: white;
    line-height: 30px;
    padding: 10px;
    transform: rotate(0deg);
    transition: all 0.5s ease-in-out;
    text-align: center;
  }

@media (max-width: 768px) {
    body {
        margin: 0;
    }

    h1 {
        font-size: 1rem;
    }

    h2 {
        font-size: 1rem;
        letter-spacing: normal;
    }

    h3 {
        font-size: 0.8rem;
    }

    .card-content p {
        font-size: 0.8rem;
        margin-bottom: 0;
    }

    .section-title {
        margin: 0 0 10px 0;
        padding: 10px 0 0 0;
    }

    .social-icons i {
        font-size: 1.5rem;
    }

    .container {
        padding: 10px;
        margin-top: 20px;
    }

    .no-container {
        padding: 0;
    }

    .profile-section img {
        width: 100%;
        margin: 0;
    }

    .carousel-wrapper {
        padding-bottom: 20px;
    }

    .carousel-wrapper i {
        display: none;
    }

    .carousel,
    .rentals-carousel,
    .restaurants-carousel,
    .tours-carousel {
        grid-auto-columns: calc((100% / 1.5) - 20px);
    }

    .carousel-card,
    .rentals-carousel-card,
    .restaurants-carousel-card,
    .tours-carousel-card {
        padding: 10px;
    }

    .carousel-card img,
    .rentals-carousel-card img,
    .restaurants-carousel-card img,
    .tours-carousel-card img {
        height: 200px;
    }

    .driver-card {
        padding: 10px;
    }

    .small-button {
        padding: 6px 10px;
        font-size: 0.7rem;
    }

    .footer .footer-content {
        flex-direction: column;
        align-items: center;
        font-size: 0.8rem;
    }

    .spacer {
        height: 80px;
    }

    .services {
        grid-template-columns: repeat(2, 1fr);
    }

    .service {
        padding: 10px;
    }

    .service img {
        height: 150px;
    }

    .contact-columns {
        display: inline-block;
        width: 100%;
    }

    .social-icons-column {
        align-items: flex-start;
        padding-top: 20px;
    }
}